*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Page */
#page-origin, #quiz-questions{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    background-color: #f2d4cc;
}
#quiz-questions{
    display: none;
}
#page-origin, #quiz-questions{
    padding: 0.5em;
    padding-top: 8vw;
}
#page-origin fieldset, #quiz-questions fieldset{
    border-top: 1px solid black;
    text-align: center;
}
#page-origin legend, #quiz-questions legend{
    font-size: 1.4em;
    padding-inline: 0.5em;
}
h2{
    text-align: center;
    font-size: 1.2em;
}
li, p, h3{
    font-size: 1.2em;
}
div ul{
    list-style-type: square;
    padding-left: 1.5em;
    padding-top: 0.4em;
}
li{
    padding-block: 0.2em;
}
#start, .check-btn{
    padding: 0.6em;
    font-size: 1.3em;
    font-weight: 600;
    border: 2px solid black;
    background-color: #5488d0;
    /* background-color: #f0cd63; */
    margin-top: 4vw;
}

/* Questions Article */
#quiz-questions article, .options-square{
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}
.question-option{
    padding: 0.45em;
    font-size: 1.1em;
    text-align: left;
    border: 1px solid black;
    background-color: #f5eed4;
}
#quiz-questions article{
    display: none;
} 
#quiz-questions article p{
    font-weight: 600;
    border: 1px solid rgb(100, 80, 30);
    padding: 0.5em;
    background-color: #dfc8c3;
}
.div-timer{
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: antiquewhite;
    margin-inline: 5em;
    padding: 0.4em;
}

/* Game Over screen */
#gameOver{
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    padding: 1em;
    gap: 2em;
    text-align: center;
}
#gO-title{
    font-size: 1.5em;
    border-top: 2px solid white;
}
#gO-title legend{
    padding: 0.6em;
}
#score{
    font-weight: 600;
}
footer legend{
    font-size: 1.2em;
    border: 2px solid white;
    padding: 0.4em;
    border-radius: 1em;
}
footer fieldset{
    border: 1px solid white;
    border-radius: 1em;
    margin-inline: 2.5em;
}
footer ul{
    margin-block: 1em;
}
